[Unit]
Description=Glidein Monitor Indexer
#Requires=
After=syslog.target network.target
Wants=network.target
Documentation="https://github.com/glideinWMS/glideinmonitor"

[Service]
Type=oneshot
# Type=simple - with oneshot is showing activating while running, and active after
User=gmonitor
# Invoke directly the service (init.d script is for RHEL6)
ExecStart=/usr/bin/glideinmonitor-indexer -c /etc/glideinmonitor-indexer.conf
#ExecStop=/usr/sbin/glideinmonitor-indexer stop
#ExecReload=/usr/sbin/glideinmonitor-indexer reload $MAINPID

[Install]
WantedBy=multi-user.target

