[Unit]
Description=Glidein Monitor Web Server
#Requires=
#After=
Documentation="https://github.com/glideinWMS/glideinmonitor"

[Service]
Type=forking
User=gmonitor
ExecStart=/usr/sbin/glideinmonitor-webserver start
ExecStop=/usr/sbin/glideinmonitor-webserver stop
ExecReload=/usr/sbin/glideinmonitor-webserver reload $MAINPID

[Install]
WantedBy=multi-user.target

